@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    font-family: Kanit, sans-serif;
    box-sizing: border-box;
}

.texto-centro {
    text-align: center;
}

.mt-1 {
    margin-top: 0.25rem;
}

.mt-2 {
    margin-top: 0.5rem;
}

.mt-3 {
    margin-top: 0.75rem;
}

.mt-4 {
    margin-top: 1rem;
}

.mt-5 {
    margin-top: 2rem;
}

#conteudo {
    flex-grow: 1;
    display: flex;
    background-color: rgb(var(--secundaria-fundo-rgb));
    justify-content: center;
    align-items: center;
    width: 100%;

    color: rgb(var(--secundaria-texto-rgb));
}

#contadorQuiz {
    position: fixed;
    top: 70px;
    right: 2rem;

    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 20px;

    text-align: center;
    vertical-align: sub;

    background-color: rgb(var(--primaria-fundo-rgb));
    color: rgb(var(--primaria-texto-rgb));
}

#conteudo>div {
    max-width: 800px;
}

#pergunta {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#conteudo>#container-pergunta {
    display: flex;
    flex-grow: 1;

    flex-direction: column;
    justify-content: center;

    max-width: 800px;
}

#alternativas {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#alternativas>div {

    margin: 5px 0px;
}

#alternativas>div>input {
    margin-right: 15px;
}

.midiaPergunta {
    width: 100%;
    max-width: 800px;
}