* {
	box-sizing: border-box;
}

body  {
	padding: 0px;
	margin: 0px;
    overflow: auto;
}

:root {
    --primaria-fundo-rgb: 242, 201, 76 !important;
    --primaria-texto-rgb: 7,6,57,1 !important;
    --secundaria-fundo-rgb: 7,6,57,1 !important;
    --secundaria-texto-rgb: 245, 245, 245 !important;
}

/* :root {
    --primaria-fundo-rgb: 121, 100, 69 !important;
    --primaria-texto-rgb: 7,6,57,1 !important;
    --secundaria-fundo-rgb: 7,6,57,1 !important;
    --secundaria-texto-rgb: 245, 245, 245 !important;
} */

h1, h2 {
	color: rgb(var(--primaria-texto-rgb));
}

ul.estilo-padrao {
    list-style-type: none;
    color: rgb(var(--secundaria-texto-rgb));
    text-decoration: none;
    padding: 0;
}

ul.estilo-padrao > li > a {
    color: rgb(var(--primaria-texto-rgb));
    font-size: 2em;
    text-decoration: none;
    cursor: pointer;
    float: left;
    margin-right: 10px;
}

ul.estilo-padrao > li > a:hover {
    color: rgba(var(--secundaria-texto-rgb));
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('../utils/fonts/materia-icons.woff2') format('woff2');
}
  
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
}